{# header + navbar #}
<div class="head_nav">
	<figure class="espace_logo">
		<a href="{{ asset('/') }}">
			<img src="{{ asset('images/logo.png') }}" alt="Image du logo"></a>
		<p class="marque">E-Concept Store</p>
	</figure>
	<div class="espace_liens">
		<div class="menu_icones">

			{% if app.user %}

				{% if app.user.roles[0] == "ROLE_ADMIN" %}
					<a href="{{ path('dashboard') }}">
						<i class="fas fa-suitcase mx-2"></i>
						<p>Espace Admin</p>
					</a>
				{% endif %}

				<a href="{{ path('security_logout') }}" class="le_compte">
					<i class="fas fa-user mx-2"></i>
					<p>Déconnexion</p>
				</a>

			{% else %}
				<a href="{{ path('security_new_login') }}" class="le_compte">
					<i class="fas fa-user-plus mx-2"></i>
					<p>Inscription</p>
				</a>
				<a href="{{ path('security_login') }}" class="le_compte">
					<i class="fas fa-user  mx-2"></i>
					<p>Connexion</p>
				</a>
			{% endif %}
			<a href="" class="le_panier">
				<i class="fas fa-shopping-bag  mx-2"></i>
				<p>Panier</p>
			</a>

		</div>

		{% include "includes/_nav.html.twig" %}
	</div>
</div>
